.welcome-page {
  background-color: #2e5266;
}

.logo {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: #d52941;
  margin: 0 auto;
  font-size: 90px;
  text-shadow: 1px 1px 10px #000;
}

.welcome-page {
  display: grid;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.welcome-page__components {
  padding: 50px;
  background-color: rgba(32, 57, 71, 1);
  box-shadow: 1px 1px 10px #000;
}

.mat-mdc-raised-button:not(:disabled) {
  color: #fff;
  background-color: #d52941;
}

.mdc-card__actions {
  justify-content: center;
}
