<mat-card>
  <mat-card-header>
    <mat-card-title
      ><h1>{{ movie.title }}</h1></mat-card-title
    >
  </mat-card-header>
  <mat-card-content class="movie-details__grid">
    <img class="movie-image" src="{{ movie.imagePath }}" />
    <div class="all-movie-details">
      <div class="movie-desc content__details">
        <h2>Synopsis</h2>
        {{ movie.description }}
      </div>
      <div class="movie-addt-details">
        <div>
          <h2>Director</h2>
          <button mat-button color="primary" (click)="getDirector()">
            {{ movie.director }}
          </button>
        </div>
        <div>
          <h2>Actors</h2>
          <div class="movie-actors">
            <div *ngFor="let actor of movie.actors">
              <button mat-button color="primary" (click)="getActor(actor.name)">
                {{ actor.name }}
              </button>
            </div>
          </div>
        </div>
        <div class="scroll-bottom">
          <h2>Genre</h2>
          <button mat-button color="primary" (click)="getGenre()">
            {{ movie.genre }}
          </button>
        </div>
      </div>
      <div *ngIf="(director | json) != '{}'">
        <h3>Name:</h3>
        <div class="">{{ director.name }}</div>
      </div>
      <div *ngIf="(director | json) != '{}'">
        <h3>Bio:</h3>
        <div>{{ director.bio }}</div>
      </div>
      <div class="scroll-bottom" *ngIf="(director | json) != '{}'">
        <h3>Birth Date:</h3>
        <div>{{ director.birth | date : "MM/dd/yy" }}</div>
      </div>
      <div *ngIf="(genre | json) != '{}'">
        <h3>Genre Name:</h3>
        <div>{{ genre.name }}</div>
      </div>
      <div class="scroll-bottom" *ngIf="(genre | json) != '{}'">
        <h3>Description:</h3>
        <div>{{ genre.description }}</div>
      </div>
      <div *ngIf="(actor | json) != '{}'">
        <h3>Name:</h3>
        <div>{{ actor.name }}</div>
      </div>
      <div *ngIf="(actor | json) != '{}'">
        <h3>Bio:</h3>
        <div>{{ actor.bio }}</div>
      </div>
      <div class="scroll-bottom" *ngIf="(actor | json) != '{}'">
        <h3>Birth Date:</h3>
        <div>{{ actor.birth | date : "MM/dd/yy" }}</div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions> </mat-card-actions>
</mat-card>
