<div></div>
<div class="movie-card-grid">
  <mat-card *ngFor="let movie of userFavorites" style="flex: 1 1 auto">
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.director.name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      class="movie-card-image"
      src="{{ movie.imagePath }}"
      alt="{{ movie.title }}"
    />
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="openMovieDetailsDialog(movie.title)"
      >
        More Details
      </button>
      <button
        mat-button
        color="primary"
        (click)="openDirectorDetailsDialog(movie.director)"
      >
        Director
      </button>
      <button
        mat-button
        color="primary"
        (click)="openGenreDetailsDialog(movie.genre)"
      >
        Genre
      </button>
      <mat-icon
        *ngIf="userData.favorites.indexOf(movie._id) === -1; else favorite"
        (click)="addMovieToFavorites(movie._id)"
        >favorite_border</mat-icon
      >
      <ng-template #favorite>
        <mat-icon (click)="addMovieToFavorites(movie._id)"
          >favorite</mat-icon
        ></ng-template
      >
    </mat-card-actions>
  </mat-card>
</div>
