.mat-mdc-card {
  width: 55vw;
  padding: 0 15px 15px 15px;
  height: 100%;
  box-shadow: none;
  background-color: rgba(32, 57, 71, 1);
  color: #fff;
  box-shadow: 1px 1px 10px #000;
}

h1 {
  font-size: 30px;
}
